.products {
  display: flex;
  flex-wrap: wrap;
}
body{
  background-color: beige;
  border:none;
  margin: 0px;
}
.pro {
  text-align: center;
  margin: 50px;
  box-shadow: 5px 10px 30px rgb(35, 73, 73);
  border-radius: 20px;
  background-color: rgb(54, 99, 99);
  color: white;
}
.pro:hover {
  transform: scale(1.2);
}
.price {
  visibility: hidden;
}
.proName {
  padding: 5px;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.img {
  border-radius: 20px 20px 0px 0px;
}
.img1 {
  border-radius: 20px 20px 0px 0px;
}
